<form class="form-signin" action="/login" method="post">
  <h2>Login</h2>
  <div class="form-inline my-2 my-lg-0 justify-content-center">
    <input type="text" class="form-control mr-sm-2" name="username" placeholder="Username">
    <input type="password" class="form-control mr-sm-2" name="password" placeholder="Password">
    <button type="submit" class="btn btn-primary my-2 my-sm-0" value="Login">Login</button>
  </div>
</form>