<h1>New post</h1>

<form action="/save_image" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload image">
</form>

<form action='/posts' method="POST">
  caption:
  <input type="text" name="caption"><br>
  Create Your post:
  <input type="submit" name="submit" id="submit">
</form>
<a href="/posts">Cancel</a>