<h1>New Recipe</h1>

<form action='/posts' method="post">
  Name:
  <input type="text" name="name"><br>
  Ingredients:
  <input type="text" name="ingredients"><br>
  Directions:
  <input type="text" name="directions"><br>
  Cook Time:
  <input type="text" name="cooktime"><br>
  Chef:
  <input type="text" name="chef"><br>
  <input type="submit" name="submit" id="submit">
</form>

<p><a href="/posts">Cancel</a></p>