<% if logged_in? %>
    <a href="/posts">Create a Recipe</a>
    <a href="/logout">Logout</a>
    <p>Welcome, <%= current_user.username %></p>
<% else %>

<form action="/signup" method="post">
    <h2>Sign up</h2>
    <input type="text" name="username" placeholder="Username">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button type="submit" value="Sign Up">Sign Up</button>
</form>

<form class="form-signin" action="/login" method="post">
    <h2>Or Login</h2>
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit" value="Login">Login</button>
</form>
    
<% end %>
