<!doctype html>
<html>
  <head>
    <title>Recipe Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

  </head>
  <body class="text-center">
    <img src="/images/logo.svg" width="200" height="200" alt="Recipe Tracker">
    <h4>keeping your recipes, <br> so you don't have to</h4>

    <%= yield %>

  <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous">
    </script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>