<!doctype html>
<html>
  <head>
    <title>Receipt Keeper</title>
  </head>
  <body>

    <div class="container">
      <h1>"Welcome to Receipt Keeper"</h1>
      <%= yield %>
    </div>

  </body>
</html>
