<!doctype html>
<html>
  <head>
    <title>Recipe Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous">
    </script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="/js/bootstrap.min.js"></script>

  </head>
  <% if logged_in?%>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light justify">
    <a class="navbar-brand " href="/posts">
      <img src="/images/logo5.svg" height="50px" alt="Recipe Tracker">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/show"><%= current_user.username %><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts/new">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  

  <% else %>

  <nav class="navbar justify-content-center" style="margin-top: 75px">
    <img src="/images/logo5.svg" height="100%" alt="Recipe Tracker">
  </nav>
<%end%>

  <body>
    <div class="container">
      <div class="text-center" style="padding-top: 7em">  
        <%= yield %>
      </div>
    </div>
  </body>
</html>
