<h1>Welcome, <%= current_user.username %></h1>
<a href="/logout">Logout</a>

<h3><a href="/images/upload_image">Upload a new receipt here</a></h3>

<% @images.each do |image| %>
  <%= image.title %>
  <%= image.id %>
  <a href="/images/<%= image.id %>/delete">Delete</a>
  <br><br>
<% end %>
