<h1>New Upload</h1>

<h3>Upload a .png photo of your receipt</h3>
<form action="/save_image" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="text" name="title" placeholder="Title">
    <input type="submit" value="Upload image">
</form>


<p><a href="/posts">Cancel</a></p>